<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samuelford48gmail.thssouth">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/android_south_logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/android_south_logo2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ONEsignal_notifications">


        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Forms"
            android:label="Forms" />
        <activity android:name=".Boys_golf" />
        <activity android:name=".Girls_tennis" />
        <activity android:name=".Softball" />
        <activity android:name=".Baseball" />
        <activity android:name=".GIrls_tf" />
        <activity android:name=".Boys_tf" />
        <activity android:name=".Admin_delays" />
        <activity android:name=".Boys_basketball" />
        <activity android:name=".Boys_swimming" />
        <activity android:name=".Wrestling" />
        <activity android:name=".Girls_swimming" />
        <activity android:name=".Girls_basketball" />
        <activity android:name=".Admin_sports" />
        <activity android:name=".Admin_view_tutors" />
        <activity android:name=".Admin_dr_haworth" />
        <activity android:name=".Admin_add_tutor" />
        <activity android:name=".Admin_announcements" />
        <activity android:name=".Admin" />
        <activity android:name=".Admin_events" />
        <activity
            android:name=".Tutoring"
            android:label="Tutoring" />
        <activity
            android:name=".View_tutors"
            android:label="View Tutors" />
        <activity
            android:name=".Register_tutors"
            android:label="Sign-up to tutor" />
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <activity
            android:name=".Boys_cross_country"
            android:label="Boy's CC" />
        <activity
            android:name=".Boys_soccer"
            android:label="Boy's Soccer" />
        <activity
            android:name=".Football"
            android:label="Football" />
        <activity
            android:name=".Girls_cross_country"
            android:label="Girl's CC" />
        <activity
            android:name=".Girls_soccer"
            android:label="Girl's Soccer" />
        <activity
            android:name=".Boys_tennis"
            android:label="Boy's Tennis" />
        <activity
            android:name=".Golf"
            android:label="Girl's Golf" />
        <activity
            android:name=".Volley_ball"
            android:label="Volley Ball" />
        <activity
            android:name=".Announcements"
            android:label="Announcements" />
        <activity
            android:name=".Sports"
            android:label="Sports" />
        <activity
            android:name=".Events"
            android:label="Events" />
        <activity
            android:name=".Guidance"
            android:label="Guidance" />

    </application>

</manifest>